@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  background: url(/img/background1.png) center/cover no-repeat fixed;
}

> main {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0;
  padding: 0 15px;
  max-width: 1366px;
  box-sizing: content-box;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1028px;
  padding: 46px 0 17px;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px 10px;
  grid-template-areas: "img text_top" "img text_bottom";
  grid-area: 3/1/4/2;
}
.logo svg:hover {
  cursor: pointer;
  fill: #F26522;
}
.logo span:hover {
  cursor: pointer;
  color: #F26522;
}
.logo__img {
  grid-area: img;
  width: 53px;
  height: 47px;
  fill: #FFFFFF;
}
.logo__text_top {
  grid-area: text_top;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
}
.logo__text_bottom {
  grid-area: text_bottom;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.for-user {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}
.for-user span {
  cursor: pointer;
}
.for-user span:hover {
  color: #F26522;
}

.items-gallery {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 240px 240px;
  gap: 40px 40px;
}
.items-gallery__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.items-gallery__item:hover {
  color: #F26522;
}
.items-gallery__img {
  width: 100%;
  height: 92%;
  object-fit: cover;
  border: 2px solid;
  border-image: linear-gradient(#fff, #000, #fff, #000) 30;
  overflow: hidden;
}
.items-gallery__text {
  text-align: center;
  padding-top: 20px;
}
.items-gallery span:hover {
  color: #F26522;
}
.items-gallery__overlay-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.items-gallery__overlay-wrapper:hover {
  opacity: 1;
  color: #fff;
}
.items-gallery__overlay {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: #F26522;
}
.items-gallery__price {
  display: flex;
  flex-direction: column;
}
.items-gallery__prefix {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;
}
.items-gallery__sum {
  padding-left: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.items-gallery__details {
  padding-right: 37px;
  padding-bottom: 12px;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.items-gallery__details:after {
  content: ">";
  padding-left: 16px;
  font-size: 18px;
}

.footer {
  margin: 50px 0 15px 0;
}
.footer span {
  cursor: pointer;
}
.footer span:hover {
  color: #F26522;
}

/*# sourceMappingURL=style.css.map */
